---
title: Was Großeltern bewegt
---


<section class="hero">
  <img src="images/sippe_logo.svg">
</section>

<section class="section section--primary-color">
<div class="section-inner-wrapper">
  <h1>Ein Online&shy;magazin über das Groß&shy;eltern&shy;sein.</h1>
  <p class="intro-text">Große und kleine Geschichten, in denen es um Sie, Ihre Kinder und Enkel – um Familie – geht. Geschichten, die interessieren und inspirieren.</p>
</div>
</section>

<section class="section">
<div class="section-inner-wrapper">
  <h3>Wer steckt dahinter?</h3>
  <p>Ich bin <a href="http://susanne-theisen.de">Susanne Theisen</a>, freie Journalistin in Berlin, geboren und groß geworden in der Eifel, seit Frühjahr 2014 Mutter einer Tochter. Seitdem wundere ich mich, dass es zwar eine Flut von Magazinen für Eltern gibt, Omas und Opas aber ziemlich leer ausgehen. <br>Zusammen mit <a href="http://mguth.com">meinem Mann</a> habe ich mir vorgenommen, das zu ändern.</p>
  <h3>Und wann geht es los?</h3>
  <p>Die ersten Schritte sind getan – wir haben mit zahlreichen Menschen gesprochen und viel gelernt. Wir haben unser erstes großes Thema gefunden, recherchiert und dazu Großeltern, Eltern und Experten interviewt.</p>
  <p>Gerade arbeiten wir mit Eifer an der Produktion unserer Startausgabe damit sie in Kürze erscheinen kann.</p>
</div>
</section>

<section class="section section--secondary-color">

<div class="section-inner-wrapper">
  <h3>Klingt interessant?</h3>
  <p>Abonnieren Sie den Newsletter und wir geben sofort Bescheid, wenn die erste Ausgabe online ist!</p>

  <div class="newsletter-signup">
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
    <form action="//sippe-mag.us9.list-manage.com/subscribe/post?u=10591b5df80995526e37cc49c&amp;id=c6a068a025" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

    <div class="mc-field-group">
      <label for="mce-EMAIL">E-Mail Adresse</label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_10591b5df80995526e37cc49c_c6a068a025" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Abonnieren" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text'; /*
     * Translated default messages for the $ validation plugin.
     * Locale: DE
     */
    $.extend($.validator.messages, {
      required: "Dieses Feld ist ein Pflichtfeld.",
      maxlength: $.validator.format("Geben Sie bitte maximal {0} Zeichen ein."),
      minlength: $.validator.format("Geben Sie bitte mindestens {0} Zeichen ein."),
      rangelength: $.validator.format("Geben Sie bitte mindestens {0} und maximal {1} Zeichen ein."),
      email: "Geben Sie bitte eine gültige E-Mail Adresse ein.",
      url: "Geben Sie bitte eine gültige URL ein.",
      date: "Bitte geben Sie ein gültiges Datum ein.",
      number: "Geben Sie bitte eine Nummer ein.",
      digits: "Geben Sie bitte nur Ziffern ein.",
      equalTo: "Bitte denselben Wert wiederholen.",
      range: $.validator.format("Geben Sie bitten einen Wert zwischen {0} und {1}."),
      max: $.validator.format("Geben Sie bitte einen Wert kleiner oder gleich {0} ein."),
      min: $.validator.format("Geben Sie bitte einen Wert größer oder gleich {0} ein."),
      creditcard: "Geben Sie bitte ein gültige Kreditkarten-Nummer ein."
    });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
  </div>
</div>
</section>
<section class="section">
<div class="section-inner-wrapper">
  <h3>Impressum</h3>
  <p>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV
  <p>Susanne Theisen <br>Gitschiner Str. 14<br>10969 Berlin</p>
  <p> E-Mail: hallo@sippe-mag.de <br>Phone: +49 177 652 73 74</p>
  <p>Für Inhalte externer Links übernehmen wir keine Haftung.</p>
</div>
</section>


